* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #1f1f1f;
}

header section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    padding: 16px;
    background-color: seashell;
}

section div h1 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    margin-left: 12px;
}

section div a {
    font-size: 32px;
    text-decoration: none;
}

section div a + a {
    margin-left: 12px;
}

section div a.login, section div a.register {
    padding: 12px;
    border: solid;
}