@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #1f1f1f;
}

header section {
    padding: 16px 0px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

section div h1 {
    color: rgb(0, 0, 0);
    font-size: large;
    margin-left: 12px;
    font-family: 'Balsamiq Sans', cursive;
}

section div:last-child {
    text-align: right;
}

section div a {
    font-size: large;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

section div a + a {
    margin: 12px;
}

section div a + a {
    margin: 12px;
}

section div a.login, section div a.register {
    padding: 8px;
    border-radius: 8%;
    color: white;
}

section div a.login {
    background-color: green;
}

section div a.register {
    background-color: blueviolet;
}